.shopping__cart p {
    margin-top: 28px;
    margin-bottom: 13px;

    font-size: 20px;
    font-weight: 600;
    color: #1C1C27;
}

.cartProduct__result {
    display: flex;
    justify-content: space-between;
}

.cartProduct {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.result {
    min-width: 350px;
    align-self: start;
    position: relative;
}

.itogo {
    padding: 20px;
    height: 115px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
}

.itogo__text {
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
}

.itogo__sum {
    font-weight: 600;
    font-size: 15px;
    color: #000000;
}

.itogo__btn {
    width: 100%;
    height: 65px;

    font-weight: 600;

    color: #ffffff;
    background: #000000;
    box-shadow: 0px 0px 20px 0px #00000040;
    border-radius: 20px;

    position: absolute;
    bottom: 0px;

    transition: all 0.3s ease;
}

.itogo__btn:hover {
    background: #4d4848;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.itogo__btn:active {
    background-color: #393636;
    /* Ещё темнее при нажатии */
    transform: translateY(0);
    /* Возвращается на место */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}