.product-block {
    min-width: 350px;
    padding: 15px 22px 32px 22px;

    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 30px;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-block__img {
    overflow: clip;
    vertical-align: middle;

    max-height: 238px;
    margin-bottom: 54px;
}

.product-block__content {
    width: 100%;
    min-height: 68px;

    display: flex;
    position: relative;
}

.product-block__title {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 600;
    color: #1c1c27;
}

.product-block__priceNew {
    position: absolute;
    top: 0;
    right: 0;

    font-weight: 600;
    color: #FFA542;
}

.product-block__priceOld {
    position: absolute;
    top: 21px;
    right: 6px;

    text-decoration: line-through;
    font-size: 13px;
    font-weight: 600;
    color: #FFCE7F;
}

.product-block__rating {
    position: absolute;
    bottom: 0;
    left: 0;

    font-weight: 600;
    color: #838383;

    display: flex;
    gap: 10px;
    align-items: center;
}