 .headphones {
     margin-bottom: 20px;
 }

 .conteiner__product {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
 }

 .headphones p {
     margin-top: 28px;
     margin-bottom: 20px;

     font-size: 20px;
     font-weight: 600;
     color: #838383;
 }