.cartProduct__item {
    width: 633px;
    padding: 18px 28px 15px 18px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 30px;

    display: flex;

    gap: 24px;

}

.img__countController {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__container {
    width: 146px;
    /* фиксированная ширина */
    height: 136px;
    /* фиксированная высота */
    overflow: hidden;
    /* скрываем лишнее */
    margin-bottom: 20px;
}

.img__container img {
    width: 100%;
    /* занимает всю ширину контейнера */
    height: 100%;
    /* занимает всю высоту контейнера */
    /* object-fit: cover; */
    /* изображение обрезается, чтобы полностью заполнить контейнер, сохраняя пропорции */
    object-position: center;
    /* центрируем изображение внутри контейнера */
}

.item__countController {
    display: flex;
    min-width: 120px;
    align-items: center;
    justify-content: space-between;
}

.buttonControl {
    border-radius: 30px;
    transition: all 0.3s ease;
}

.buttonControl:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonControl:active {
    background-color: #d5d5d5;
    /* Ещё темнее при нажатии */
    transform: translateY(0);
    /* Возвращается на место */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.product__kolvo {
    font-weight: 600;
}

.title_price {
    width: 100%;

    display: flex;
    position: relative;

    flex-direction: column;
    justify-content: center;

    gap: 12px;
}

.cartProduct__title {
    font-weight: 500;
    color: #1C1C27;
}

.cartProduct__prise {
    font-weight: 600;
    font-size: 15px;
    color: #AAAAAA;
}

.remove {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 4px 4px;

    border-radius: 20px;
}

.remove:hover {
    background-color: #f8d5d5;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(253, 117, 117, 0.2);
}

.remove:active {
    background-color: #f5bfbf;
    /* Ещё темнее при нажатии */
    transform: translateY(0);
    /* Возвращается на место */
    box-shadow: 0 4px 8px rgba(253, 117, 117, 0.2);
}

.productAllPrice {
    position: absolute;
    bottom: 6px;
    right: 0;

    font-weight: 600;
    font-size: 15px;
}