footer {
    height: 150px;
    padding: 29px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 30px 30px 0 0;
}

.social {
    display: flex;
    align-items: center;
    max-height: 30px;
    gap: 18px;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col1 li {
    font-weight: 400;

}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lang {
    display: flex;
    justify-content: space-between;
}

.lang button {
    font-size: 15px;
    font-weight: 500;
    color: #101010;
}

.lang-btn.selected {
    font-weight: 700;
    color: #FFA542;
}